.woocommerce-account {

	.dashboard-section {
		margin-bottom: 2rem;

		.data-row {
			border-bottom: 1px solid $inky-blue;
			padding: 0.5em 0;

			.font-small {
				font-size: 0.8em;
			}
		}

		.data-row:nth-last-of-type(1) {
			border-bottom: none;
		}
	}
}
