.archive {

	h5.page-title {
		margin-top: 0.5rem;
		font-weight: 700;
	}

	#archive-tab-grid {

		.link {
			padding-bottom: 0.5rem;
		}

		.link.active {

			a {
				font-weight: 700;
				color: $orange;
			}
		}
	}
}

.tax-project-category {

	.menu-item-object-austeve-projects {

		a {
			font-weight: 700;
			color: $orange;
		}
	}
}
