.post-type-archive-austeve-projects {

	.hero-austeve-projects-background {
		background: $light-gray;
	}

	.austeve-projects-list {

		article {
			margin: 0;

			p {
				margin-bottom: 0.25rem;
			}
		}
	}
}
