.post-type-archive-austeve-projects {

	.austeve-projects-list {
		list-style: none;
		margin-left: 0;

		article {
			margin: 0;

			p {
				margin-bottom: 0.25rem;
			}
		}
	}
}

.single-austeve-projects {

	.austeve-projects-hero {

		.not-active {

			.container {
				position: relative;

				.shaded-background {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 10;
					background-color: rgba(255, 255, 255, 0.85);
				}
			}

		}
	}
}

.single-austeve-projects,
.post-type-archive-austeve-projects {

	.hero-austeve-projects-background {
		background: $light-gray;

		.austeve-projects-hero {
			padding-top: 1rem;

			.cell {
				margin-bottom: 1rem;
			}
		}

	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {

}

/* Medium and up (640px) */
@media screen and (min-width: 40em) {

	.single-austeve-projects,
	.post-type-archive-austeve-projects {

		.hero-austeve-projects-background {

			.austeve-projects-hero {
				padding-top: 2rem;

				.cell {
					margin-bottom: 2rem;
				}
			}

		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up (>1024px) */
@media screen and (min-width: 64em) {

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {

}

/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {

}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 119.9375em) {

}

/* XXLarge and up (>1920px) */
@media screen and (min-width: 120em) {

}
