.blog {

	main {

		article {
			margin-bottom: 1rem;
			padding-bottom: 1rem;
			border-bottom: 1px solid $black;
		}

		article:nth-last-of-type(1) {
			border-bottom: none;
		}

	}
}


article.has-video {

	a {
		position: relative;


		.overlay {
			display: none;
			background: scale-color($dark-gray, $lightness: -15%);
			opacity: 0.8;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		.fa-play {
			display: none;
			position: absolute;
			top: calc(50% - 16px);
			left: calc(50% - 16px);
			font-size: 32px;
			color: $white;
		}
	}

	a:hover {

		.overlay,
		.fa-play {
			display: block;
		}
	}

}
