.home {

	#front-page-landing {
		position: relative;
		color: $white;

		.background-image {
			background-position: 50% 65%;
		}

		.entry-content {
			position: relative;
			margin: 0;
			padding: 3rem 10%;
		}
	}

	#news-and-events {
		color: $white;

		.front-page-news {
			background-color: $brown;
			padding-top: 2rem;
			padding-bottom: 2rem;

			a.button {
				background-color: $dark-brown;
			}

			a.button:hover {
				background-color: $light-brown;
			}

			article:nth-of-type(odd) {
				background: $light-brown;
			}

		}

		.front-page-events {
			background-color: $green;
			padding-top: 2rem;
			padding-bottom: 2rem;

			a.button {
				background-color: $light-green;
			}

			a.button:hover {
				background-color: $green;
			}

			article:nth-of-type(odd) {
				background: $light-green;

				a.button {
					background-color: $green;
				}

				a.button:hover {
					background-color: $light-green;
				}
			}

		}

		article,
		h2 {
			margin: 0;
			padding-left: 1rem;
			padding-right: 1rem;

			.content-container {
				position: relative;
				padding-top: 1rem;
				padding-bottom: 1rem;
			}

			.background-image {
				opacity: 0.15;
			}

		}

		.title,
		.event-date {
			text-transform: uppercase;
		}
	}

	#sponsors {
		background: -webkit-linear-gradient(5deg, $blue 50%, $light-blue 50%);
		color: $white;

		.entry-content {
			background: $blue;
			padding: 1rem;
		}

		.logo-container {
			background: $white;
			padding: 0.5rem;
			margin-bottom: 0.5rem;
			display: inline-flex;
			align-items: center;
		}

		a.button {
			background: $light-blue;
		}

		a.button:hover {
			background: $blue;
		}

		.pre-sponsors {

		}

		.post-sponsors {
			margin-top: 2rem;
		}
	}

	#newsletter-signup {
		background: -webkit-linear-gradient(5deg, $green 50%, $light-green 50%);
		color: $white;

		.container {
			background: $green;
			padding: 2rem 1rem;

			/* stylelint-disable selector-id-pattern */
			#mc_embed_signup {
				max-width: 640px;
				margin: auto;

				.mc-field-group {
					line-height: 0.25;

					label {
						text-align: left;
						font-size: 1.25rem;
					}
				}
			}
			/* stylelint-enable selector-id-pattern */
		}
	}

	#resources-section {
		background: -webkit-linear-gradient(5deg, $blue 50%, $light-blue 50%);
		color: $white;
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {

}

/* Medium and up (640px) */
@media screen and (min-width: 40em) {

	.home {

		#front-page-landing {
			min-height: 350px;
		}

		#news-and-events {

			article {
				height: 450px;

				.content-container {
					height: 100%;
				}

				.actions {
					position: absolute;
					bottom: 1rem;
					left: 0;
					right: 0;
					text-align: center;
				}
			}
		}
	}

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up (>1024px) */
@media screen and (min-width: 64em) {

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {

}

/* Large/XLarge and up (>1200px) */
@media screen and (min-width: 1200px) {

	.home {

		#news-and-events {

			article {
				height: 350px;

			}
		}
	}
}

/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {

}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 119.9375em) {

}

/* XXLarge and up (>1920px) */
@media screen and (min-width: 120em) {

}
