body {

	section {
		position: relative;

		.section-background {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;
		}

		.section-content {
			height: 100%;
		}
	}
}

a {
	display: inline-block;
}

.hide-overflow {
	overflow: hidden;
}

header {

	a {
		color: inherit;
	}

	a:hover {
		color: inherit;
	}
}

footer {

	#footer {
		padding-top: 2rem;

		img {
			margin-bottom: 1rem;
		}

		a {
			color: inherit;
		}

		a:hover {
			color: inherit;
		}

	}

}

#projects {

	#project-category-content-container {
		position: relative;

		.project-category-content {
			position: absolute;
		}

		.project-category-content:not(.active) {
			opacity: 0;
		}
	}
}
