body {

	section {
		position: relative;

		.section-background {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;
		}

		.bg-contain {
			background-size: contain;
		}

		.bg-no-repeat {
			background-repeat: no-repeat;
		}

		.bg-repeat-x-only {
			background-repeat: repeat-x;
		}

		.section-content {
			height: 100%;
			padding: 1rem 0;
		}

		.button {
			text-transform: uppercase;
			font-size: 1.2em;
		}

		.white-content-container {
			background: $white;
			padding: 1rem;
		}
	}
}

.navigation {
	margin-top: 1rem;

	a[rel="next"] {
		margin-left: 1rem;
		margin-top: 0.35rem;
		margin-bottom: 1rem;
	}

	a[rel="prev"] {
		margin-right: 1rem;
		margin-top: 0.35rem;
		margin-bottom: 1rem;
	}
}

h1,
h2 {
	text-transform: uppercase;
	color: $red;
}

a {
	display: inline-block;
}

.hide-overflow {
	overflow: hidden;
}

.nf-form-cont {
	max-width: 80%;
	margin: auto;
}

body .nf-field input[type="button"] {
	background: $red;
	text-transform: uppercase;
	font-size: 1.2em;
	cursor: pointer;
}

body .nf-field input[type="button"]:hover {
	background: scale-color($button-background, $lightness: -15%);
	color: $white;
}

body .nf-field-label label {
	font-weight: 400;
}

.no-max-width {

	.grid-container {
		max-width: none !important;
	}
}

footer {

	#footer {
		padding-top: 2rem;

		.section-content {
			padding: 0;
		}

		img {
			margin-bottom: 1rem;
		}

		a {
			color: inherit;
		}

		a:hover {
			color: inherit;
		}

		.social-menu {

			a {
				color: $red;
			}
		}


		span {
			display: block;
		}

	}

}

#video {

	.section-content {
	}

	.grid-container {
		position: relative;
		padding: 0 !important;

		.play-button {
			border-radius: 50%;
			padding: 15px 14px 15px 16px;
		}

		.video-overlay {
			position: absolute;
			top: 20%;
			bottom: auto;
			left: 40%;
			right: 40%;
			text-align: center;
			transition: opacity 5s;
		}

		#find-out-more {
			margin-top: 0.5rem;
		}
	}
}


#projects {

	#project-category-grid {
		text-transform: uppercase;
		padding: 1rem 0;

		a {
			margin-bottom: 0.5rem;
		}

		a.active {
			color: $red;
			text-decoration: underline;
		}
	}

	#project-category-content-container {
		position: relative;

		.project-category-description {
			margin: 2rem 0;
		}

		.project-category-content {
			position: absolute;
			min-width: 100%;
			z-index: 1;

			.title {
				text-transform: uppercase;
				margin-top: 1rem;
				margin-bottom: 2rem;
			}
		}


		.project-category-content:not(.active) {
			opacity: 0;
			z-index: -1;
		}
	}
}

:focus {
	outline: none !important;
}

/* Small only */
@media screen and (max-width: 39.9375em) {

}

/* Medium and up (640px) */
@media screen and (min-width: 40em) {

	body {

		section {

			.section-content {
				padding: 2rem 0;
			}

			.white-content-container {
				background: $white;
				padding: 2rem;
			}
		}
	}

	footer {

		#footer {

			span {
				display: inline-block;
				margin-right: 2rem;
			}

			span:nth-last-of-type(1) {
				margin-right: 0;
			}

			.social-menu {
				font-size: 2em;
			}
		}
	}

	#projects {

		#project-category-content-container {


			.project-category-description {
				margin: 2rem 0 4rem 0;

			}

			.project-category-content {

				.title {
					margin-top: 1rem;
					margin-bottom: 3rem;
				}
			}
		}
	}

	#video {

		.grid-container {

			.video-overlay {
				top: 30%;
			}
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up (>1024px) */
@media screen and (min-width: 64em) {

	#video {

		.grid-container {

			.play-button {
				padding: 24px;
			}

			.video-overlay {
				top: 40%;
			}
		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {

}

/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {

}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 119.9375em) {

}

/* XXLarge and up (>1920px) */
@media screen and (min-width: 120em) {

	#video {

		.grid-container {

			.video-overlay {
				top: 40%;
			}
		}
	}
}

/* Way bigger (>2600px) */
@media screen and (min-width: 2600px) {

}
