body {

	.wp-post-image.size-hero-image {
		min-width: 100%;
	}

	section {
		position: relative;

		.section-background {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;
			background-size: cover;
			background-position: 50%;
		}

		.section-content {
			height: 100%;

			> .grid-container {
				height: 100%;
			}
		}

	}

	section.minimum-full-height {
		min-height: 100vh;
	}

	section.minimum-full-height-minus-header {
		min-height: 100vh;
	}

	main {

		.page-content {
			margin: 3rem 0;

			h2 {
				margin-bottom: 2rem;
				font-weight: 700;

				span {
					border-bottom: 2px solid $black;
					padding-bottom: 1rem;
				}
			}

			h3 {
				font-weight: 700;
			}

			.entry-content {
				margin: 4rem 0;

				p {
					max-width: 950px;
				}

				.breadcrumbs {
					margin-top: 2rem;

					a {
						font-weight: 700;
						text-decoration: underline;
						text-underline-position: under;
					}
				}
			}
		}

		article {
			margin-bottom: 2rem;
		}
	}
}

a {
	display: inline-block;
}

a:hover {
	color: $orange;
}

a.button,
button,
input[type="submit"],
.nf-form-wrap .nf-form-content input[type="button"] {
	background: $white;
	color: $black;
	font-weight: 700;
	border-bottom: 1px solid $black;
	padding-left: 0;
}

a.button:hover,
button:hover,
input[type="submit"]:hover,
.nf-form-wrap .nf-form-content input[type="button"]:hover,
a.button:focus,
button:focus,
input[type="submit"]:focus,
.nf-form-wrap .nf-form-content input[type="button"]:focus,
a.button:active,
button:active,
input[type="submit"]:active,
.nf-form-wrap .nf-form-content input[type="button"]:active {
	background: $white;
	color: $orange;
	border-bottom: 1px solid $orange;
	cursor: pointer;
}

a.button:focus,
button:focus,
input[type="submit"]:focus,
.nf-form-wrap .nf-form-content input[type="button"]:focus {
	outline: none;
}

p > a.button {
	margin-bottom: 0;
}

/* Small only */
@media screen and (max-width: 39.9375em) {

	.grid-container {

		.grid-padding-x > .cell {
			margin-right: -0.625rem;
			margin-left: -0.625rem;
		}
	}
}

/* Medium and up (640px) */
@media screen and (min-width: 40em) {

	body {

		main {

			.page-content {

				.entry-content {
					margin: 4rem 8%;

					p {

					}
				}
			}


			article {
				margin-top: 2rem;
			}

		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up (>1024px) */
@media screen and (min-width: 64em) {

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {

}

/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {

	.grid-container {
		padding-right: 70px;
		padding-left: 70px;
	}
}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 119.9375em) {

}

/* XXLarge and up (>1920px) */
@media screen and (min-width: 120em) {

	.grid-container {
		padding-right: 120px;
		padding-left: 120px;
	}
}
