nav {

	.accordion-menu {

		.is-accordion-submenu-parent > a {

			.fas {
				position: absolute;
				right: $global-menu-h-padding;
				transition: opacity 0.5s;
			}
		}

		li[aria-expanded="false"] {

			.fa-bars {
				opacity: 1;
			}

			.fa-caret-up {
				opacity: 0;
			}
		}
	}

	.accordion-menu {

		li[aria-expanded="true"] {

			.fa-bars {
				opacity: 0;
			}

			.fa-caret-up {
				opacity: 1;
			}
		}
	}

	#primary-menu {
		display: inline-block;

		li {
			display: inline-block;
		}
	}
}

ul.social-menu {
	list-style: none;
	display: inline-block;
	margin: 0 0 1rem 0;

	li {
		display: inline-block;
		margin-right: 0.5rem;
	}

	li:nth-last-of-type(1) {
		margin-right: 0;
	}
}

footer #footer {

	ul.social-menu {

		li.button.menu-item {
			padding: 0.5rem;
			font-size: 1rem;
			margin-bottom: 12px;
			line-height: normal;

			a {
				color: $white;

			}
		}
	}
}
