nav {

	.accordion-menu {

		.fas.fa-bars,
		.fas.fa-caret-up {
			position: absolute;
			right: $global-menu-h-padding;
			transition: opacity 0.5s;
		}

		li[aria-expanded="false"] {

			.fa-bars {
				opacity: 1;
			}

			.fa-caret-up {
				opacity: 0;
			}
		}

		.social-wrapper {

			li {
				display: inline-block;
				width: auto;

				a {
					padding-right: 0;
				}
			}
		}
	}

	.accordion-menu {

		li[aria-expanded="true"] {

			.fa-bars {
				opacity: 0;
			}

			.fa-caret-up {
				opacity: 1;
			}
		}
	}

	ul.show-for-medium {
		display: inline-block;
		list-style: none;
		width: auto;
		margin: 0;

		li {
			display: inline-block;

		}
	}

	.wpml-ls-item.menu-item-has-children {

		> a > span {
			border-bottom: 2px solid $black;
			padding-bottom: 4px;
		}

		.sub-menu {
			position: absolute;
			right: 0;
			background-color: $white;

			a {
				display: inline-block;
			}
		}
	}
}

.off-canvas {
	opacity: 0.95;

	.off-canvas-container {
		height: 100vh;
		position: relative;

		a.close-off-canvas {
			position: absolute;
			top: 1rem;
			right: 1rem;
		}

		.grid-y {
			min-height: 100%;
			font-size: 1.9rem;

			.social-wrapper {
				font-size: 0.5em;
			}
		}
	}
}

.menu {
	font-family: Abolition, "Helvetica Neue", helvetica, roboto, arial, sans-serif;
}

#language-menu-small.menu {
	display: inline-block;
	margin-left: 0;

	li {
		display: inline-block;
		margin-left: -6px;

		a {
			padding: 0.5rem;
			border-right: 1px solid $black;
		}

	}

	li:nth-last-of-type(1) {

		a {
			border-right: none;
		}
	}
}

#footer-menu,
#social-menu {
	display: inline-flex;
}

/* Small only */
@media screen and (max-width: 39.9375em) {

}

/* Medium and up (640px) */
@media screen and (min-width: 40em) {

	nav {
		font-size: 0.8rem;
	}

	#social-menu {

		a {
			padding-left: 0;
		}
	}

	.off-canvas {
		opacity: 0.9;

		.off-canvas-container {

			a.close-off-canvas {
				top: 1.8rem;
				right: 0;
			}

			.grid-y {
				font-size: 2.6rem;

				li {
					margin-bottom: 1rem;
				}
			}
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up (>1024px) */
@media screen and (min-width: 64em) {

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {

}

/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {


	nav {
		font-size: 1rem;
	}

	.off-canvas {

		.off-canvas-container {

			a.close-off-canvas {
				top: 2.25rem;
				font-size: 1.25em;
			}

			.grid-y {
				font-size: 3.8rem;

				li {
					margin-bottom: 1.5rem;
				}
			}
		}
	}
}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 119.9375em) {

}

/* XXLarge and up (>1920px) */
@media screen and (min-width: 120em) {

	.off-canvas {

		.off-canvas-container {

			.grid-y {
				font-size: 4.2rem;

				li {
					margin-bottom: 2.5rem;
				}
			}
		}
	}
}
