.archive,
.blog {

	article {

		img {
			margin-bottom: 0.5rem;
		}

		.meta-date {
			margin-bottom: 0.5rem;
		}
	}
}

.single.post,
.page {

	.page-content {

		.entry-content {
			max-width: 1024px;
		}
	}
}

.single {

	article {

		.meta-date {
			margin-bottom: 0.5rem;
		}

		.breadcrumb-navigation {
			margin: 3rem 0 4rem 0;
		}
	}
}

.page-template-about-page {

	.page-intro-photo {
		margin-bottom: 1rem;
	}

	.entry-content {
		max-width: 1024px;
	}

	section {
		margin-bottom: 2rem;

		a.button {
			margin-right: 1rem;
		}
	}
}

.single-austeve-artwork {

	article {

		img:hover {
			cursor: pointer;
		}

		#artwork-gallery {
			margin-top: 3rem;
			margin-bottom: 2rem;
		}
	}
}

.slider-container {

	overflow-x: auto;
	white-space: nowrap;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	position: relative;

	.slider {
		display: inline;
		transition: margin 0.5s linear;

		.image-wrapper {
			display: inline-block;
			min-width: 100%;
			text-align: center;
		}
	}

	.slider-navigation {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		> .grid-y {
			height: 100%;
		}

		.move-left {
			margin-left: 1rem;
		}

		.move-right {
			margin-right: 1rem;
		}

		i {
			color: $white;
		}

		i:hover {
			cursor: pointer;
		}
	}
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider-container::-webkit-scrollbar {
	display: none;
}

.reveal:focus-visible {
	outline: none;
}


/* Small only */
@media screen and (max-width: 39.9375em) {

}

/* Medium and up (640px) */
@media screen and (min-width: 40em) {

	.reveal-overlay {
		padding-bottom: 75px;

		.reveal {
			margin-bottom: 75px;
		}
	}

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up (>1024px) */
@media screen and (min-width: 64em) {

	.page-template-about-page {

		section {
			margin-bottom: 3rem;
		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {

}

/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {

}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 119.9375em) {

}

/* XXLarge and up (>1920px) */
@media screen and (min-width: 120em) {

}
