#teacher-search-form,
#school-search-form {

	input[type="text"] {
		border-radius: 1.5rem;
		text-align: center;
		font-size: 1.5em;
		height: 3rem;
		color: $inky-blue;
	}

}

/* Small only */
@media screen and (max-width: 39.9375em) {

}

/* Medium and up (640px) */
@media screen and (min-width: 40em) {

	#teacher-search-form,
	#school-search-form {
		max-width: 75%;
		margin: auto;
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up (>1024px) */
@media screen and (min-width: 64em) {

	#teacher-search-form,
	#school-search-form {
		max-width: 50%;
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {

}

/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {

}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 119.9375em) {

}

/* XXLarge and up (>1920px) */
@media screen and (min-width: 120em) {

}
