body.home {

	.container.text_1 {
		padding: 2rem 0;
	}

	.container.image_1 {
		img {
			min-width: 100%;
		}
	}

	.container.contact_form_id {
		padding: 2rem 0;
	}

	.container.text_3{
		padding: 2rem 0;
	}
	
	.container.professional_affilations {
		img {
			padding: 2rem 1rem;
			max-width: 125px;
		}
	}
}