.nf-form-wrap {

	.nf-error .nf-error-msg,
	.nf-error-msg,
	.ninja-forms-req-symbol {
		color: $warning-color;
	}

	.nf-error.field-wrap .nf-field-element::after {
		background: $warning-color;
	}

	.nf-error .ninja-forms-field {
		border-color: $warning-color !important;
	}

	.nf-form-content {

		input[type="button"],
		input[type="submit"] {
			background-color: $button-background;
			color: $button-color;
			text-transform: uppercase;
			font-weight: 400;
			text-decoration: none;
			margin: 0 0 1rem 0;
			padding: 0.85em 1em;
			font-size: 1em;
			height: auto;
		}

		input[type="button"]:hover,
		input[type="submit"]:hover {
			background-color: scale-color($button-background, $lightness: -15%);
			color: $button-color;
		}

		input:not([type="button"]),
		input:not([type="button"]):focus,
		textarea,
		textarea:focus {
			color: $body-font-color;
		}

		input[type="button"]:hover {
			cursor: pointer;
		}
	}

	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: scale-color($body-font-color, $lightness: -15%);
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: scale-color($body-font-color, $lightness: -15%);
	}

	::-ms-input-placeholder { /* Microsoft Edge */
		color: scale-color($body-font-color, $lightness: -15%);
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {

}

/* Medium and up (640px) */
@media screen and (min-width: 40em) {

	.nf-form-wrap {

		.nf-form-content {
			padding-left: 0;
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up (>1024px) */
@media screen and (min-width: 64em) {

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {

}

/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {

}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 119.9375em) {

}

/* XXLarge and up (>1920px) */
@media screen and (min-width: 120em) {

}
