.single-product {

	main {

		.page-content {

			.entry-content {

				.woocommerce-breadcrumb {
					margin-bottom: 1rem;
				}

				.woocommerce-notices-wrapper {
					text-align: center;
					margin-bottom: 1rem;

					.woocommerce-message {
						display: inline-block;
						margin-bottom: 1rem;
						padding-top: 1rem;

						a {
							margin-bottom: 0;
							float: right;
							margin-top: -0.5rem;
							margin-left: 1rem;
						}

					}
				}

				.product {

					.entry-content {
						margin: 2rem 0;


						input[type="number"] {
							width: auto;
							text-align: right;
						}

						button.single_add_to_cart_button {
							min-width: 204px;
						}

					}

					h1 {
						margin-bottom: 2rem;
						font-weight: 700;

						span {
							border-bottom: 2px solid $black;
							padding-bottom: 1rem;
							line-height: 2;
						}
					}

					.featured-image {

						display: flex;
						overflow-x: hidden;

						img {
							margin-left: -100%;
							width: 100%;
							height: 0;
							transition: height 1s linear;
						}

						img:nth-last-of-type(1) {
							margin-left: 0;
							height: max-content;
						}

					}


					#product-gallery-grid {

						.cell {
							margin-top: 2rem;
						}
					}
				}
			}
		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {

}

/* Medium and up (640px) */
@media screen and (min-width: 40em) {

	.single-product {

		main {

			.page-content {

				.entry-content {


					.product {

						.entry-content {
							margin: 2rem 8%;
						}
					}
				}
			}
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up (>1024px) */
@media screen and (min-width: 64em) {

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {

}

/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {

}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 119.9375em) {

}

/* XXLarge and up (>1920px) */
@media screen and (min-width: 120em) {

}
