.single-product {

	main {

		.page-content {

			.woocommerce-notices-wrapper {
				text-align: center;
				margin-bottom: 1rem;

				.woocommerce-message {
					display: inline-block;
					margin-bottom: 1rem;
					padding-top: 1rem;

					a {
						margin-bottom: 0;
						float: right;
						margin-top: -0.5rem;
						margin-left: 1rem;
					}

				}
			}

			.woocommerce-breadcrumb {
				margin-bottom: 1rem;
			}

			.product {

				position: relative;

				.entry-content {
					margin: 2rem 0;


					input[type="number"] {
						width: auto;
						text-align: right;
					}

					button.single_add_to_cart_button {
						min-width: 204px;
					}

				}

				.featured-image {

					display: flex;
					overflow-x: hidden;

					img {
						margin-left: -100%;
						width: 100%;
						height: 0;
						transition: height 1s linear;
					}

					img:nth-last-of-type(1) {
						margin-left: 0;
						height: max-content;
					}

				}


				#product-gallery-grid {

					.cell {
						margin-top: 2rem;

						.wc-thumbnail-wrapper {
							min-width: 100%;

							img {
								min-width: 100%;
							}
						}
					}
				}
			}
		}
	}
}

.woocommerce-page {

	main {

		.page-content {

			ul.products {
				list-style: none;

				.product {
					margin-bottom: 2rem;
					position: relative;

				}
			}

			ul.woocommerce-error[role="alert"] {
				border: 1px solid $alert-color;
				list-style: none;
				margin-left: 0;
				padding: 1rem;
				text-align: center;

			}

			.select2-container .select2-selection--single {
				height: calc(28px + 0.75rem);
			}

			.select2-container--default .select2-selection--single .select2-selection__rendered {
				padding-top: 0.375rem;
				padding-bottom: 0.375rem;
			}

			.select2-container--default .select2-selection--single .select2-selection__arrow {
				top: calc(1px + 0.375rem);
			}

			.woocommerce-result-count {
				margin-top: 0.5rem;
			}

			.woocommerce-ordering {
				max-width: 400px;
				margin-left: auto;
			}

			.woocommerce-pagination {

				ul {
					list-style: none;
					margin-left: 0;
					text-align: center;

					li {
						display: inline-block;
						padding: 0.5rem;

						.current {
							font-weight: 700;
						}
					}
				}
			}


			form.woocommerce-form-login,
			form.woocommerce-ResetPassword,
			form.woocommerce-form-register {
				max-width: 350px;
				margin: auto;
			}

			form.woocommerce-form-login {
				margin-bottom: 2rem;
				padding-bottom: 2rem;
				border-bottom: 1px solid $inky-blue;
			}

			.woocommerce-MyAccount-navigation {
				margin-bottom: 1rem;
			}

			.hide-for-no-wishlist-cookie,
			.hide-for-no-wishlist-url {
				display: none;
			}
		}
	}
}

/* Force enter alignment of woocmmerce pages with .wc-align-center class*/
.woocommerce-page.wc-align-center .entry-content .woocommerce {
	text-align: center;
}

.woocommerce-checkout {

	main {

		.page-content {

			.woocommerce-form-coupon-toggle {
				margin-bottom: 1rem;
			}

			.woocommerce-form-coupon {
				max-width: 400px;
				margin-top: -0.5rem;
			}

			.woocommerce-terms-and-conditions-wrapper {
				margin-bottom: 1rem;
			}

			label[for="payment_method_stripe"] {
				margin-bottom: 1rem;
				margin-left: 0;
			}

			/* stylelint-disable selector-id-pattern */
			#order_review {
				margin-top: 1.75rem;
			}

			#billing_state_field,
			#billing_country_field {
				margin-bottom: 1rem;
			}

			ul.wc_payment_methods {
				list-style-type: none;
				margin-left: 0;
				color: $inky-blue;

				label {
					color: $inky-blue;
				}
			}

			/* stylelint-enable selector-id-pattern */

		}
	}
}

.woocommerce-page {

	.entry-content {

		.woocommerce {
			text-align: left;
		}
	}
}

.woocommerce-page,
.page-template-wishlist-edit-page,
.single-austeve-wishlists,
.single-austeve-campaigns,
.reveal.quick-view-product {

	ul.products {
		list-style-type: none;

		li {
			margin-bottom: 2rem;

			h2.woocommerce-loop-product__title {
				font-size: 2rem;
				margin-top: -1rem;
			}

			.product-short-description {
				max-height: 100px;
				overflow-y: hidden;
				position: relative;
				margin-bottom: 1rem;

				.fade-bg {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background: rgba(255, 255, 255, 0);
				}
			}

			.product-short-description.faded {

				.fade-bg {
					background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1));

				}
			}
		}
	}

	.thumbnail-container {
		position: relative;

		.onsale,
		.sold-out,
		.inky-suggests {
			position: absolute;
			top: 0;
			right: 0;

			img {
				max-width: 80px;
			}
		}
	}

	.product-author {
		margin-bottom: 0.25rem;
	}

	.price {
		line-height: 1.5;
	}

	.product-grid {

		.thumbnail-container {

			.quick-view-overlay {
				position: absolute;
				bottom: 0;
				top: 0;
				left: 0;
				right: 0;
				background: rgba(255, 255, 255, 0);

				.text-container {
					position: absolute;
					bottom: 0;
					top: calc(50% - 0.5rem);
					left: 0;
					right: 0;
					font-size: 0;
				}
			}
		}

		.thumbnail-container:hover {
			cursor: pointer;

			.quick-view-overlay {

				background: rgba(255, 255, 255, 0.75);

				.text-container {
					font-size: 1rem;
				}
			}
		}
	}

	.campaign-filter {
		max-width: 400px;
		margin: auto;
	}

}

.woocommerce-cart {

	.woocommerce-cart-form {

		.product-name {

			dl.variation {
				margin-top: 0.5rem;

				dd,
				dt {
					display: inline-block;
					width: 55%;

					p {
						margin-bottom: 0.5rem;
					}
				}

				dt {
					width: 40%;
				}
			}
		}

		.actions {

			.coupon {

				label {
					display: inline-block;
					width: 20%;
				}

				input {
					display: inline-block;
					width: 40%;
				}

				.button {
					float: right;
				}
			}

			.button[name="update_cart"] {
				float: right;
				clear: both;
			}
		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {

	/* START Make the WooCommerce Cart Table Responsive  for Mobile */

	/* CSS published in http://www.jeremycarter.com.au/optimising-woocommerce-checkout-for-mobile/ */


	/* Force table to not be like tables anymore */
	.woocommerce-page {

		table.shop_table,
		table.shop_table thead,
		table.shop_table tbody,
		table.shop_table th,
		table.shop_table td,
		table.shop_table tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		table.shop_table thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		td {

			/* Behave  like a "row" */
			border: 1px solid #d2d3d3;
			position: relative;
			padding-left: 30% !important;
		}

		.actions {
			padding-bottom: 3rem;
			padding-left: 6px !important;
		}

	}

	.woocommerce-page table.shop_table td::before {

		/* Now like a table header */
		position: absolute;

		/* Top/left values mimic padding */
		top: 10px;
		left: 6px;
		width: 25%;
		padding-right: 10px;
		white-space: nowrap;
		font-size: 0.8em;
	}

	/*
	Label the data
	*/
	.woocommerce-page table.shop_table td.product-remove::before {
		content: "DELETE";
	}

	.woocommerce-page table.shop_table td.product-thumbnail::before {
		content: "IMAGE";
	}

	.woocommerce-page table.shop_table td.product-name::before {
		content: "PRODUCT";
	}

	.woocommerce-page table.shop_table td.product-price::before {
		content: "PRICE";
	}

	.woocommerce-page table.shop_table td.product-quantity::before {
		content: "QUANTITY";
	}

	.woocommerce-page table.shop_table td.product-subtotal::before {
		content: "SUBTOTAL";
	}

	.woocommerce-page table.shop_table td.product-total::before {
		content: "TOTAL";
	}


	/* END Make the WooCommerce Cart Table Responsive  for Mobile */

}

/* Medium and up (640px) */
@media screen and (min-width: 40em) {

	.single-product {

		main {

			.page-content {

				.product {

					.entry-content {
						margin: 2rem 8%;
					}
				}
			}
		}
	}

	.woocommerce-cart {

		.woocommerce-cart-form {

			.actions {

				.coupon {
					max-width: 435px;
					margin-left: auto;

				}
			}
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up (>1024px) */
@media screen and (min-width: 64em) {

	.woocommerce-page,
	.page-template-wishlist-edit-page {

		ul.products {

			li {

				.product-short-description {
					max-height: 150px;
				}
			}
		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {

}

/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {

}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 119.9375em) {

}

/* XXLarge and up (>1920px) */
@media screen and (min-width: 120em) {

}
