.page {

	.page-introduction {
		font-weight: 700;
		text-transform: uppercase;
		max-width: 550px;
	}
}

.page-template-about-our-team-page {

	.team-member {

		.name {
			margin-top: 0.5rem;
		}
	}
}
