.page-template-about-page {

	.intro-box {
		padding-top: 1rem;

		p:nth-of-type(1) {
			font-weight: 700;
			font-size: 1.1em;
			margin: auto;
			max-width: 90%;
			margin-bottom: 1.5rem;
		}
	}

	#call-to-action {

		.text-box {
			font-weight: 600;
		}
	}

	#team {

		.text-box {
			font-weight: 600;
		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {

}

/* Medium and up (640px) */
@media screen and (min-width: 40em) {

	.page-template-about-page {

		.intro-box {
			padding-top: 2rem;
		}

		#call-to-action {

			.container {
				margin-left: 2rem;

				.text-box {
					max-width: 60%;
				}
			}

		}
	}

	#team {

		.text-box {
			max-width: 90%;
			margin: auto;
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up (>1024px) */
@media screen and (min-width: 64em) {

	.page-template-about-page {

		#call-to-action {

			.section-content {
				padding-left: 5%;
			}

		}


	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {

}

/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {

	.page-template-about-page {

		#call-to-action {

			.section-background {
				background-position: calc(50% + calc(1920px * 0.33));
			}

		}

		#team {

			.text-box {
				max-width: 1300px;
				margin: auto;
				margin-bottom: 4rem;
			}
		}
	}
}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 119.9375em) {

}

/* XXLarge and up (>1920px) */
@media screen and (min-width: 120em) {

	.page-template-about-page {


		#call-to-action {

			.container {

				.text-box {
					max-width: 55%;
				}
			}
		}
	}
}
