.page-template-about-page {

	.intro-box {
		padding-top: 1rem;

		p:nth-of-type(1) {
			margin-bottom: 1.5rem;
			font-weight: 700;
			font-size: 1.3em;
		}

	}

	#call-to-action {

		.text-box {
			font-weight: 600;
		}
	}

	#team {

		.text-box {
			font-weight: 600;
		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {

}

/* Medium and up (640px) */
@media screen and (min-width: 40em) {

	.page-template-about-page {

		.intro-box {
			padding-top: 2rem;

			p:nth-of-type(1) {
				margin-bottom: 2rem;
			}
		}

		#call-to-action {

			.container {
				margin: 0 2rem;
			}

		}
	}

	#team {

		.text-box {
			max-width: 90%;
			margin: auto;
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up (>1024px) */
@media screen and (min-width: 64em) {

	.page-template-about-page {

	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {

}

/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {

	.page-template-about-page {

		#team {

			.text-box {
				max-width: 1300px;
				margin: auto;
				margin-bottom: 4rem;
			}
		}
	}
}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 119.9375em) {

}

/* XXLarge and up (>1920px) */
@media screen and (min-width: 120em) {

	.page-template-about-page {

	}
}
