.home {

	#landing {

		.section-background {
			background-position: 60% bottom;
		}

		.container {
			font-weight: 700;
		}
	}

	#call-to-action {

		.blue-box {
			font-weight: 600;
		}
	}

	#courses {

		.text {
			max-width: 80%;
			margin: auto;
			margin-bottom: 2rem;
			font-weight: 600;
		}

		.button {
			display: inline-block;
		}
	}

	#testimonials {

		.testimonials-container {
			overflow-x: hidden;
			white-space: nowrap;

			> div {
				display: inline-block;
				width: 100%;
				transition: margin 1s linear;
			}

			>div.left {
				margin-left: calc(-100% - 4px);
			}
		}

		.testimonial-control:hover {
			cursor: pointer;
		}

		.testimonial-control.active {
			color: $white;
		}

		.testimonial {
			padding: 1rem 0;
			vertical-align: top;

			blockquote {
				border-left: none;
				white-space: initial;

				div.name {
					margin-top: 1rem;
					font-style: italic;
				}
			}
		}

	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {

	.home {


		.button {
			display: block;
		}

	}
}

/* Medium and up (640px) */
@media screen and (min-width: 40em) {

	.home {

		.button {
			margin-right: 1.5rem;
		}

		.button:nth-last-of-type(1) {
			margin-right: 0;
		}

		#landing {


			.section-background {
				background-position: right bottom;
			}

			.container {
				max-width: 80%;
				padding: 2rem;

			}
		}

		#testimonials {

			.testimonials-container {
				max-width: 80%;
				margin: auto;
			}

			.testimonial {
				padding: 3rem 0 2rem 0;
			}

			.testimonials-controls {
				margin-bottom: 2rem;
				font-size: 0.8em;
			}
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up (>1024px) */
@media screen and (min-width: 64em) {

	.home {

		#courses {

			.text {
				max-width: 70%;
				margin-bottom: 4rem;
			}
		}

		#testimonials {

			.light-blue-box {
				max-width: 80%;
				margin: auto;
			}

			.testimonials-container {

				>div.left {
					margin-left: calc(-100% - 5px);
				}
			}

			.testimonials-controls {
				font-size: 0.6em;
			}
		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {

}

/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {

	.home {

		#landing {

			.container {
				max-width: 70%;
				padding: 4rem;
			}
		}

		#testimonials {

			.testimonials-container {

				>div.left {
					margin-left: calc(-100% - 7px);
				}
			}
		}
	}
}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 119.9375em) {

}

/* XXLarge and up (>1920px) */
@media screen and (min-width: 120em) {

	.home {

		#testimonials {

			.testimonials-container {

				>div.left {
					margin-left: calc(-100% - 10px);
				}
			}
		}
	}
}
